

<p>
  <strong>Amount:</strong>
  <%= @bid.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user %>
</p>

<p>
  <strong>Auction:</strong>
  <%= @bid.auction %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
